body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  color: white;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.header-links {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 20px;
}

.header-link {
  text-decoration: none;
  color: #e5e7eb;
}

.section-one {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.right img {
  width: 500px;
}

.sign-up-button {
  background-color: #3882f6;
  color: white;
  border-radius: 4px;
  border-width: 0px;
  padding: 6px 24px;
  font-size: 18px;
}

.left .title {
  font-size: 48px;
  font-weight: 900;
  color: #f9f8fa;
}

.left .text {
  font-size: 18px;
  color: #e5e7eb;
}

.content {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.section-one .content {
  gap: 50px;
}
